<section id="contact" class="contact-section section-padding">
    <div class="container">
        <h2 class="section-title wow fadeInUp">Buradayım!</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="row center-xs">
                    <div class="col-sm-6">
                        <i class="fa fa-map-marker"></i>
                        <address>
                            <strong></strong>
                            239/2 Awesome Street,<br>
                            Boston, USA<br>
                        </address>
                    </div>
                    <div class="col-sm-6">
                        <i class="fa fa-mobile"></i>
                        <div class="contact-number">
                            <strong>Phone Number</strong>
                            (001) 0123 111222<br>
                        </div>
                    </div>
                </div>
                <div class="row center-xs">
                    <div class="col-sm-6">
                        <i class="fa fa-envelope"></i>
                        <address>
                            <strong>Address/Street</strong>
                            239/2 Awesome Street,<br>
                            Boston, USA<br>
                        </address>
                    </div>
                    <div class="col-sm-6">
                        <i class="fa fa-github"></i>
                        <div class="contact-number">
                            <strong>Phone Number</strong>
                            (001) 0123 111222<br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="location-map">
                            <div id="mapCanvas" class="map-canvas"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
