<!-- Footer Section -->
<footer class="footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright text-center">
                    <p>&copy; TrendyTheme 2015. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer><!-- End Footer Section -->
