
<section id="resume" class="resume-section section-padding">
    <div class="container">
        <h2 class="section-title wow fadeInUp">Özgeçmiş</h2>
        <div class="row">
           @{Html.RenderAction("Education", "Partials");}

        </div><!-- /row -->
        <div class="row">
        @{Html.RenderAction("Experience", "Partials");}

        </div><!-- /row -->
    </div><!-- /.container -->
</section>
