<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Müslüm BİTGEN</title>
    <!-- Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- Font Awesome CSS -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <!-- Animate css -->
    <link href="~/Content/css/animate.css" rel="stylesheet">
    <!-- Magnific css -->
    <link href="~/Content/css/magnific-popup.css" rel="stylesheet">
    <!-- Custom styles CSS -->
    <link href="~/Content/css/style.css" rel="stylesheet" media="screen">
    <!-- Responsive CSS -->
    <link href="~/Content/css/responsive.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/Content/images/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/images/ico/apple-touch-icon-57-precomposed.png">
</head>
<body>
    <!-- Preloader -->
    <div id="tt-preloader">
        <div id="pre-status">
            <div class="preload-placeholder"></div>
        </div>
    </div>
    <!-- Home Section -->
    @{Html.RenderAction("Home", "Partials");}
    <!-- End Home Section -->
    <!-- Navigation -->
    @{Html.RenderAction("Navigation", "Partials");}
    <!-- End Navigation -->

    @RenderBody()

    @{Html.RenderAction("Footer", "Partials");}
    <!-- Scroll-up -->
    <div class="scroll-up">
        <a href="#home"><i class="fa fa-angle-up"></i></a>
    </div>
    <!-- Javascript files -->
    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.stellar.min.js"></script>
    <script src="~/Content/js/jquery.sticky.js"></script>
    <script src="~/Content/js/smoothscroll.js"></script>
    <script src="~/Content/js/wow.min.js"></script>
    <script src="~/Content/js/jquery.countTo.js"></script>
    <script src="~/Content/js/jquery.inview.min.js"></script>
    <script src="~/Content/js/jquery.easypiechart.js"></script>
    <script src="~/Content/js/jquery.shuffle.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
    <script src="~/Content/js/jquery.fitvids.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script src="~/Content/js/scripts.js"></script>
</body>
</html>