@{
    if (Session["Rol"] == null)
    {
        Response.Redirect("~/Admin/Login");
    }
    if ((string)Session["Rol"] != "Admin")
    {
        Response.Redirect("~/Admin/Login");

    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>CV CMS</title>
    <link rel="shortcut icon" href="~/Content/images/ico/favicon.png">
    <!-- Bootstrap core CSS-->
    <link href="~/Content/Admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/Content/Admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="~/Content/Admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/Content/Admin/css/sb-admin.css" rel="stylesheet">
</head>
<body class="fixed-nav sticky-footer bg-danger" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="/Admin/index">Cv CMS v0.1</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Admin Paneli">
                    <a class="nav-link" href="/Admin/index">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Admin Paneli</span>
                    </a>

                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Kişisel Bilgiler">
                    <a class="nav-link" href="/Admin/Users">
                        <i class="fa fa-fw fa-users"></i>
                        <span class="nav-link-text">Kullanıcı Bilgileri</span>
                    </a>
                </li>


                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Kişisel Bilgiler">
                    <a class="nav-link" href="/Admin/Resumes">
                        <i class="fa fa-fw fa-file"></i>
                        <span class="nav-link-text">Kişisel Bilgileri</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Eğtim Bilgileri">
                    <a class="nav-link" href="/Admin/Educations">
                        <i class="fa fa-fw fa-graduation-cap"></i>
                        <span class="nav-link-text">Eğtim Bilgileri</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tecrübe Bilgileri">
                    <a class="nav-link" href="/Admin/Experiences">
                        <i class="fa fa-fw fa-laptop"></i>
                        <span class="nav-link-text">Tecrübe Bilgileri</span>
                    </a>

                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Yetenek Bilgileri">
                    <a class="nav-link" href="/Admin/Skills">
                        <i class="fa fa-fw fa-trophy"></i>

                        <span class="nav-link-text">Yetenek Bilgileri</span>
                    </a>

                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Proje Bilgileri">
                    <a class="nav-link" href="/AdminUye/Index">
                        <i class="fa fa-fw fa-user"></i>
                        <span class="nav-link-text">Proje Bilgileri</span>
                    </a>

                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Sayılarım Bilgileri">
                    <a class="nav-link" href="/AdminUye/Index">
                        <i class="fa fa-fw fa-user"></i>
                        <span class="nav-link-text">Sayılarım Bilgileri</span>
                    </a>

                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="İletişim Bilgileri">
                    <a class="nav-link" href="/AdminUye/Index">
                        <i class="fa fa-fw fa-user"></i>
                        <span class="nav-link-text">İletişim Bilgileri</span>
                    </a>

                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Yazılarım">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-wrench"></i>
                        <span class="nav-link-text">Yazılarım</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseComponents">
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Makale Bilgileri">
                            <a class="nav-link" href="/AdminUye/Index">
                                <i class="fa fa-fw fa-user"></i>
                                <span class="nav-link-text">Makale Bilgileri</span>
                            </a>

                        </li>
                        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Kategori Bilgileri">
                            <a class="nav-link" href="/AdminUye/Index">
                                <i class="fa fa-fw fa-user"></i>
                                <span class="nav-link-text">Kategori Bilgileri</span>
                            </a>

                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-envelope"></i>
                        <span class="d-lg-none">
                            Messages
                            <span class="badge badge-pill badge-primary">12 New</span>
                        </span>
                        <span class="indicator text-primary d-none d-lg-block">
                            <i class="fa fa-fw fa-circle"><b style="font-size:15px;">@*@ViewBag.mesajSayisi*@</b></i>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="messagesDropdown">
                        <h6 class="dropdown-header">Gelen Mesajlar</h6>


                        @*@{Html.RenderAction("GelenMesaj", "Partials");}*@


                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item small" href="/Admin/GelenTumMesaj/">Tüm Mesajlar</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="fa fa-user"></i>@Session["AdSoyad"]
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>Çıkış
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        @RenderBody()
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Dyblog Medya © Tüm Haklari Saklidir</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sn. <b>@Session["AdSoyad"]</b> Ayrılmaya hazır mısınız?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Mevcut oturumunuzu sonlandırmaya hazırsanız, aşağıdaki "Çıkış" ı seçin.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Vazgeç</button>
                        <a class="btn btn-primary" href="/Admin/Logout/">Çıkış</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
        <script src="~/Content/Admin/vendor/jquery/jquery.min.js"></script>
        <script src="~/Content/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="~/Content/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="~/Content/Admin/vendor/chart.js/Chart.min.js"></script>
        <script src="~/Content/Admin/vendor/datatables/jquery.dataTables.js"></script>
        <script src="~/Content/Admin/vendor/datatables/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="~/Content/Admin/js/sb-admin.min.js"></script>
        <!-- Custom scripts for this page-->
        <script src="~/Content/Admin/js/sb-admin-datatables.min.js"></script>
        <script src="~/Content/Admin/js/sb-admin-charts.min.js"></script>
    </div>
</body>
</html>